body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  height: 100vh;
  width: 100vw;
  background: url("https://cdn2.unrealengine.com/14br-consoles-1920x1080-wlogo-1920x1080-432974386.jpg");
  background-size: cover;
  background-attachment: scroll;
}

a {
  text-decoration: none;
}

.shrink img {
  transform: scale(0.5);
  background-color: darkgray;
  border-radius: 20px;
}

.shrink img:hover {
  transform: scale(0.55);
  background-color: darkgray;
  border-radius: 20px;
  box-shadow: 20px 20px 50px 15px red;
}

.imgTitle {
  position: relative;
  bottom: 3em;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  width: 15vw;
  margin: 1em;
}
